@model FrontEnd.Models.LoginView
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["msg"] != null)
{ 
<h2>
   @TempData["Title"]<br/>
    @TempData["msg"]
    </h2>}
