@model GamesTore.Models.GetTagDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.ActionLink("Tag Name", "Index")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { URL = Model.URL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
